<style>
    input {
        text-align: center;
        flex: auto;
    }

    p#lyrics {
        text-align: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
        padding: 0;
    }

    form {
        margin: auto;
        text-align: center;
        border-radius: 25px;
        border: 2px solid black;
        padding: 20px;
        width: 50%;
        height: auto
    }
</style>

<h1 style="text-align: center;">Natural Language Lyric Generator!</h1>

<form action="" method="post">

    {% csrf_token %}
    {{ select }}
    <br>
    {{ form }}
    <br><br>
    <input type="submit" value="Submit" />
</form>


<div></div>
{% if songs %}
    <h1 style="text-align: center;">Generated Lyrics</h1>
    <!-- <hr style="margin: auto; color: black; fill:black"> -->
    <div style="overflow-y: scroll; overflow-x: scroll; width:auto; white-space: nowrap;">
        {% for song in songs %}
        <div
            style="margin-left: 10px; margin-right: 10px; display: inline-block; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap; margin: 10px; padding: 10px; border-radius: 25px; border: 2px solid black; width: 30%; height: auto">
            {% for line in song %}
                <p id="lyrics">{{ line }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <hr style="margin: auto; color: black; fill:black"> 

{% endif %}
</div>



    <!-- <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap;">
        {% for song in songs %}
        <div
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap; margin: 10px; padding: 10px; border-radius: 25px; border: 2px solid black; width: 30%; height: auto">
            {% for line in song %}
                <p id="lyrics" style="line-height: 0.25em;">{{ line }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <hr style="margin: auto; color: black; fill:black"> -->



    <!-- 
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    -->

    </form>

    <script>

        const redirect_table = ["./songs", "./albums", "./artists"];
        var selectors = document.querySelectorAll("input[type='radio']");
        for (const s in selectors) {
            selectors[s].onclick = function () {
                window.location.href = redirect_table[s];
                selectors[s].checked = true;
            }
        }
    </script>