<style>
    textarea {
        text-align: left;
        flex: auto;
    }

    footer {
        left: 0;
        bottom: 0;
        width: 100%;
        color: black;
        text-align: center;
    }

    p#lyrics {
        text-align: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
        padding: 0;
    }

    form {
        margin: auto;
        text-align: center;
        border-radius: 25px;
        border: 2px solid black;
        padding: 10px;
        width: 75%;
        height: auto
    }

    .alert {
        padding: 20px;
        background-color: #ff8880;
        color: black;
        margin-bottom: 15px;
    }

    .closebtn {
        margin-left: 15px;
        color: grey;
        font-weight: bold;
        float: right;
        font-size: 22px;
        line-height: 20px;
        cursor: pointer;
        transition: 0.3s;
    }

    .closebtn:hover {
        color: black;
    }
</style>

<title>Lyric Generator</title>

{% if message %}
    <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        {{ message }}
    </div>
{% endif %}

<h1 style="text-align: center;">Natural Language Lyric Generator!</h1>
<h3 style="text-align: center;">Enter any song(s), album(s), or album(s) to generate lyrics!</h3>
<h3 style="text-align: center;">Enter each song, album, or artist on a new line and in the correct format shown.</h3>

<form action="" method="post">

    {% csrf_token %}
    {{ settings }}
    
    <div class="labels">
        <span style="display: inline-block; width: 33%; text-align: center; justify-content: center;">
            <p style="margin-bottom: 4px;"><b>Song(s)</b></p>
            <p style="margin: 4px;">Format: Song - Artist</p>
        </span>
        <span style="display: inline-block; width: 33%; text-align: center; justify-content: center;">
            <p style="margin-bottom: 4px;"><b>Album(s)</b></p>
            <p style="margin: 4px;">Format: Album - Artist</p>
        </span>
        <span style="display: inline-block; width: 33%; text-align: center; justify-content: center;">
            <p style="margin-bottom: 4px;"><b>Artist(s)</b></p>
            <p style="margin: 4px;">Format: Artist</p>
        </span>
    </div>
    
    {{ form }}
    <br><br>
    <input style="margin-top: 10px" type="button" value="Reset" onclick="location.href=location.href"/>
    <input style="margin-top: 10px" type="submit" value="Submit" />
    
</form>
    <div style="margin: auto;">
        {% if songs %}
            <div style = "margin: auto; text-align: center;">
                {% if songs.inspired.songs or songs.inspired.albums or songs.inspired.artists %}
                    <h1 style="margin: 2px"><b>These songs were inspired by...</b></h1>
                    <div style="display: flex; flex-direction: row; align-items: center; flex-wrap: wrap;">
                        {% if songs.inspired.songs %}
                            <div style="align-items: center; flex: left;  margin: auto;">
                                <p style="margin: 6px; font-size: 22px; font-weight: bold;">Song(s)</p>
                                <p style="margin: 2px">{{ songs.inspired.songs|join:"<br>" }}</p>
                            </div>
                        {% endif %}

                        {% if songs.inspired.albums %}
                            <div style="align-items: center; flex: left;  margin: auto;">
                                <p style="margin: 6px; font-size: 22px; font-weight: bold;">Album(s)</p>
                                <p style="margin: 2px">{{ songs.inspired.albums|join:"<br>" }}</p>
                            </div>
                        {% endif %}

                        {% if songs.inspired.artists %}
                            <div style="align-items: center; flex: left;  margin: auto;">
                                <p style="margin: 6px; font-size: 22px; font-weight: bold;">Artist(s)</p>
                                <p style="margin: 2px">{{ songs.inspired.artists|join:"<br>" }}</p>
                            </div>
                        {% endif %}



                    </div>
                </div>
                <hr style="margin: auto; width: 75%; color: black; fill:black"> 
            {% endif %} 
            
            <br>
            <div style="overflow-y: fixed; overflow-x: scroll; width:auto; white-space: nowrap; margin: auto; display: flex; row-gap: 25px;">
                {% for songs in songs.lyrics %}
                    {% for song in songs %}
                        <div style="justify-content: center; align-items: center; margin: auto; padding: 15px; margin-left: 5px; margin-right: 5px; border-radius: 10px; border: 1px solid black; width:auto; height: auto;">
                            {% for line in song %}
                                <p id="lyrics">{{ line }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
            <br>
            <hr style="margin: auto; width: 75%; color: black; fill:black"> 
        {% endif %}
        {% if songs|length == 0 %}
            <p style="text-align: center;">(Note: The more songs, albums, and artists you enter, the more creative the lyrics will be!)</p>
        {% endif %}
        
    </div>

    <footer style="margin: auto; text-align: center;">
        <h3 style="text-align: center;">Created by: <a href="">Bryce James and Ryan Arnold</a></h3>
    </footer>

</form>