<style>
    input {
        text-align: center;
        flex: auto;
    }

    p#lyrics {
        text-align: center;
        font-size: 16px;
        font-family: 'Times New Roman', Times, serif;
        color: #000000;
        padding: 0;
    }

    form {
        margin: auto;
        text-align: center;
        border-radius: 25px;
        border: 2px solid black;
        padding: 20px;
        width: 50%;
        height: auto
    }
</style>

<h1 style="text-align: center;">Natural Language Lyric Generator!</h1>

<form action="" method="post">

    {% csrf_token %}
    {{ select }}
    <br>
    {{ form }}
    <br><br>
    <input type="submit" value="Submit" />
</form>
<br></br>
<div style="margin: auto;">
    
    {% if songs %}
        <h1 style="text-align: center; margin: auto;">Generated Lyrics</h1>
        <br></br>
        <div style="overflow-y: scroll; overflow-x: scroll; width:auto; white-space: nowrap; margin: auto; display: flex; flex-wrap: wrap; row-gap: 25px;">
            {% if songs|length == 0 %}
                <div style="justify-content: center; align-items: center;  margin: auto; padding: 15px; border-radius: 25px; border: 2px solid black;  width:auto; height: auto;">
                    <h3>"No Song to show..."</h3>
                </div>
            {% else %}
                {% for artist, artist_songs in songs.items %}
                    {% for song in artist_songs %}
                        <div style="justify-content: center; align-items: center;  margin: auto; padding: 15px; border-radius: 25px; border: 2px solid black; width:auto; height: auto;">
                            <div style = "margin: auto; text-align: center; padding: 7px;">
                                <h2>These lyrics were inspired by <b>{{artist}}</b></h2>
                            </div>
                            {% for line in song %}
                                <p id="lyrics">{{ line }}</p>
                            {% endfor %}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}

    <br></br>
    <hr style="margin: auto; width: 50%; color: black; fill:black"> 
</div>



    <!-- <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; flex-wrap: wrap;">
        {% for song in songs %}
        <div
            style="display: flex; flex-direction: column; justify-content: center; align-items: center; flex-wrap: wrap; margin: 10px; padding: 10px; border-radius: 25px; border: 2px solid black; width: 30%; height: auto">
            {% for line in song %}
                <p id="lyrics" style="line-height: 0.25em;">{{ line }}</p>
            {% endfor %}
        </div>
        {% endfor %}
        <hr style="margin: auto; color: black; fill:black"> -->



    <!-- 
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    -->

    </form>

    <script>

        const redirect_table = ["./songs", "./albums", "./artists"];
        var selectors = document.querySelectorAll("input[type='radio']");
        for (const s in selectors) {
            selectors[s].onclick = function () {
                window.location.href = redirect_table[s];
                selectors[s].checked = true;
            }
        }
    </script>